/* styles.css */
.card-container {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px; /* Adds space between the cards vertically */
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  